<?xml version="1.0" encoding="utf-8"?>
    <packages>
      <package id="adobereader" />
      <package id="InkScape" />
      <package id="paint.net" />
      <package id="vlc" />
      <package id="dogtail.dotnet3.5sp1" />
      <package id="audacity-lame" />
      <package id="microsoftmathematics" />
      <package id="openshot" />
      <package id="choco-cleaner" />
      <package id="microsoft-edge" />
      <package id="libreoffice-fresh" />
      <package id="GoogleChrome" />

      <package id="zabbix-agent" packageParameters='"/SERVER:1.2.3.4"' />

 
    </packages>